/*body {
    -webkit-print-color-adjust:exact;
}*/
#report {
    background-color: lightgray;
    display: inline-block;
    border: 2px solid black;
    width: Auto;
    font-family: sans-serif;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#titleOnTop {
    position: relative;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    width: 100%;
    display: inline-block;
}

#reportLogo {
    font-size: 20pt;
    padding: 6px 6px 6px 6px;
    line-height: 36px;
    clear: left;
    float: right;
}

#personName {
    float: left;
    padding: 9px 6px 6px 6px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 36px;
    font-size: 16px;
}

#alerts {
    clear: right;
    float: left;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
    display: inline-block;
    width: 100%;
    margin: 3px;
    padding: 6px 6px 6px 6px;
}

#cards {
    clear: left;
    float: left;
}

#personLogo {
    position: relative;
    background-color: white;
    width: 100%;
    display: inline-block;
}

#shareReport {
    float: left;
}

#reportTitle {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    color: white;
    float: left;
    overflow: auto;
    vertical-align: middle;
}

/*.motorolaLogo {
    font-family: MotoIcons;
    font-size: 20pt;
    overflow: auto;
    color: rgb(39,179,225);
    padding: 3px 0px 6px 6px;
    float: left;
}*/

.motorolaLogo {
    padding: 3px 0px 0px 6px;
    float: left;
    margin: 5px;
    margin-top: 6px;
}

.reportOperationsTitle {
    font-size: 16px;
    font-family: sans-serif;
    padding: 6px 6px 6px 6px;
    color: white;
    float: none;
    overflow: auto;
    vertical-align: middle;
    position: absolute;
    right: 0px;
}

    .reportOperationsTitle span {
        border-right: 2px solid white;
        height: 25px;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }

.operations {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: left;
    margin-left: 5px;
    font-size: 11pt;
    color: white;
    overflow: auto;
    vertical-align: central;
}

    .operations div {
        float: left;
    }

    .operations select {
        margin-left: 6px;
        background: rgb(165,164,166);
        max-width: 125px;
    }

.highlightOff {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background: rgb(165,164,166);
    color: white;
}

.highlightOn {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background: yellow;
    color: black;
}

.card {
    background-color: white;
    border: 1px gray solid;
    width: 300px;
    overflow: hidden;
    padding: 5px;
    float: left;
    margin: 2px 2px 2px 2px;
}

    .card input {
        float: right;
        height: 15px;
        width: 15px;
    }

.cardDetails {
    margin-left: 6px;
    font-family: sans-serif;
}

    .cardDetails table td p {
        font-weight: bold;
    }

    .cardDetails table td label {
        margin: 3px;
    }

.printCards {
    background-color: transparent;
    border: 1px transparent solid;
    width: 300px;
    overflow: hidden;
    padding: 5px;
    float: left;
    margin: 2px;
}
.printCards * {
    display: none !important;
}

.disabledcard {
    background-color: grey;
    border: 1px gray solid;
    width: 300px;
    overflow: hidden;
    padding: 5px;
    float: left;
    margin: 2px;
}

@media print {
    .operations, .operations * {
        display: none !important;
    }
    .disabledcard {
        width: 300px;
        height: 250px;
        border: 1px transparent solid;
    }
        .disabledcard * {
            display: none !important;
        }
}

.disabledcard input {
    float: right;
}

.disabledcard P {
    color: lightgray;
}

.disabledcard table td P {
    color: lightgray;
}

.disabledcard table td label {
    color: lightgray;
}

.lastCard {
    border: solid thin black;
    background-color: red;
    width: 300px;
    overflow: hidden;
}

.heading {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.expando {
    position: relative;
    left: 250px;
}

.highlightTextOn {
    background: yellow;
    color: black;
}

.highlightTextOff {
    background: transparent;
    color: black;
}
