body {
    overflow-y: scroll;
}

table {
    border-spacing:0;
    border-color:transparent;
}

html { min-height: 100%; padding-bottom: 1px; }

.logo {
    font-family:MotoIcons;
    font-size:20pt;
    color:rgb(39,179,225);
    padding:6px 16px 6px 16px;
    line-height:36px
}
.reptitle {
    background: rgb(65,64,66);
    color: rgb(241,241,225);
    font-family:Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:12pt;
    height:36px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reptitletext {
    line-height:16px
}
.report {
    border: 1px solid rgb(65,64,66);
    height:100%;
}
.frames {
    /*background-color: rgb(209,211,212);*/
    padding:6px;
}
.right {
    float:right;
}
.separ {
    /*border-right:2px solid white;*/
    padding:0 12px;
    line-height:36px;
}
.tools {
    font-family:MotoIcons;
    font-size:14pt;
    padding:0 12px;
    line-height:36px;
    cursor:default;
}
.shareselect {
    color:white;
    margin-left:6px;
    background: rgb(165,164,166);
}
.highlight {
    width:25px;
    height:25px;
    border:1px solid white;
    background: transparent;
    color:white;
}
.highlight.on {
    background: yellow;
    color:black;
}

.alerttitle {
    background: white;
    color: black;
    font-family:Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:10pt;
    font-weight:bold;
    margin:4px;
    padding:8px 0;
    border-top:1px solid black;
}
.al_tit {
    font-size:12pt;
}

.al_level {
    display:inline-block;
    min-width:14px;
    height:14px;
    margin:5px 5px 0px 5px;
}
.al_levelpre {
    max-height:5px;
    margin-left:6px;
}
.al_lv1 {
    background:red;
}
.al_lv2 {
    background:orange;
}
.al_lv3 {
    background:yellow;
}
.al_lv4 {
    background:green;
}

.logoDiv {

}
.logoImg {
    max-height:50px;
    max-width: 200px;
}

.it_lvtd {
    border-spacing:0;
    padding:0;
}
.it_level {
    display:inline-block;
    min-width:12px;
    height:12px;
    margin:0px 5px 0px 0px;
    line-height: 11px;
}
.it_lv0 {
}
.it_lv1 {
    background:red;
}
.it_lv2 {
    background:orange;
}
.it_lv3 {
    background:yellow;
}
.it_lv4 {
    background:green;
}
.it_table {
    border-spacing: 2px;
    border-color: transparent;
}
.it_cnt {
    font-size:10px;
}
.ric_rp_header {
    padding:12px 12px 4px 12px;
}
.ric_rp_field {
    color:black;
    font-family:Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:9pt;
}
.ric_rp_val {
    color:black;
    font-family:Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:16pt;
    font-weight: 900;
}

.grid {

}

/* COls */
/*.colreptitle {*/
    /*background: rgb(65,64,66);*/
    /*color: rgb(241,241,225);*/
    /*font-family:Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*font-size:10pt;*/
/*}*/

.col {
    overflow:hidden;
    float:left;
}

/* Item */
.ric_onekey {
    margin: 4px 4px 4px 4px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10pt;
    overflow: hidden;
    border-top: 1px solid black;
    padding-top: 4px;
}

.ric_onekey.isopen {

}

.bkgsel {
    background: white;
}

.nobor {
    border-spacing:0;
    padding:0;
}

.max114 {
    max-height:114px;
}

.ric_key {
    font-size: 12pt;
    font-weight: bold;
    float: left;
}

.ric_plusminus {
    width: 12px;
    height: 12px;
    padding:0;
    margin-top:0px;
    background-color: white;
    border:1px solid gray;
    line-height:12px;
}
.ric_imgpos {
    float:left;
    margin: 6px 2px 0 4px;
}

.left {
    float:left;
}
.ric_sel {
    float:right;
}
.it_tit {
    font-size: 10pt;
    font-weight: bold;
}

.it_dat {
    font-size: 10pt;
    font-weight: normal;
}

.it_tx {
}

.it_txb {
    font-weight: bold;
}
.toptr {
    vertical-align: top;
}
.toptable {
    width:100%;
}

.img {
    max-height: 114px;
    height:114px;
}

.trimg {
    vertical-align: top;
    border-spacing: 0;
    padding: 0;
    max-height:114px;
}
.trimginner {
    vertical-align: top;
    width:50%;
}


.last {
    clear:both;
}