#report {
    background-color: lightgray;
    display: inline-block;
    border: 2px solid black;
    width: Auto;
}

#titleOnTop {
    position: relative;
    background-color: black;
    width: 100%;
    display: inline-block;
}

    #titleOnTop img {
        margin: 5px;
        width: 25px;
        height: 25px;
        float: left;
    }

#reportLogo {
    font-size: 20pt;
    padding: 6px 6px 6px 6px;
    line-height: 36px;
    clear: left;
    float: right;
}

#personName {
    float: left;
    padding: 6px 6px 6px 6px;
    line-height: 36px;
    font-size: 2em;
}

#alerts {
    clear: right;
    float: left;
    background-color: white;
    display: inline-block;
    width: 100%;
    margin: 3px;
    padding: 6px 6px 6px 6px;
}

#cards {
    clear: left;
    float: left;
}

#personLogo {
    position: relative;
    background-color: white;
    width: 100%;
    display: inline-block;
}

#shareReport {
    float: left;
}

#reportTitle {
    font-size: 18px;
    padding: 6px 6px 6px 6px;
    color: white;
    float: left;
    overflow: auto;
    vertical-align: bottom;
}

.reportOperationsTitle {
    font-size: 18px;
    padding: 6px 6px 6px 6px;
    color: white;
    float: none;
    overflow: auto;
    vertical-align: central;
    position: absolute;
    right: 0px;
}

.reportOperationsTitle span {
    border-right: 2px solid white;
    height: 25px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.operations {
    font-family: MotoIcons;
    float: left;
    margin-left: 5px;
    font-size: 18px;
    color: white;
    overflow: auto;
    vertical-align: central;
}

    .operations div {
        float: left;
    }

    .operations input {
        background: rgb(165,164,166);
    }

    .operations select {
        margin-left: 6px;
        background: rgb(165,164,166);
    }

.card {
    background-color: white;
    border: 1px gray solid;
    width: 300px;
    overflow: hidden;
    padding: 5px;
    float: left;
    margin: 6px;
}

    .card input {
        float: right;
    }

.cardDetails {
    margin-left: 16px;
}

.disabledcard {
    background-color: grey;
    border: 1px gray solid;
    width: 300px;
    overflow: hidden;
    padding: 5px;
    float: left;
    margin: 6px;
}

    .disabledcard input {
        float: right;
    }

.lastCard {
    border: solid thin black;
    background-color: red;
    width: 300px;
    overflow: hidden;
}

.heading {
    font-size: 1.25em;
    font-family: sans-serif;
}

.expando {
    position: relative;
    left: 250px;
}
